.hotel-tile {
  border: 1px solid #d2955d;
  border-radius: 0.25rem;
  display: block;
}
.hotel-silhouette {
  height: 100px;
}
.slds-modal__container {
  height: auto;
  width: 90%;
  max-width: 100%;
}
